{
  "presets": [
    [
      // Latest stable ECMAScript features
      "@babel/preset-env",
      {
        "useBuiltIns": false,
        // Do not transform modules to CJS
        "modules": false,
        "targets": {
          "chrome": "92",
          "firefox": "90"
        }
      }
    ],
    "@babel/typescript",
    ["@babel/react", { "runtime": "automatic" }]
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-private-methods"
  ]
}
