.popup {
	width: 359px;
	height: 500px;

	.container {
		box-shadow:0px 10px 30px rgba(0, 0, 0, 0.019999999552965164);
		background-color:rgba(255, 255, 255, 1);
		width:359px;
		height:500px;
		position:absolute;

		.logo { 
			width:79.81256103515625px;
			height:55.5217170715332px;
			position:absolute;
			left:139.59371948242188px;
			top:41.23914337158203px;
		}
		.ei8_190_1_513 { 
			color:rgba(68.80931451916695, 55.96719682216644, 152.2828021645546, 1);
			width:79px;
			height:46px;
			position:absolute;
			left:0px;
			top:8.675225257873535px;
			font-family:PT Serif;
			text-align:left;
			font-size:34.701114654541016px;
			letter-spacing:0;
		}
		.ei8_190_1_515 { 
			transform: rotate(-15.000000120055855deg);
			background-color:rgba(68.80931451916695, 55.96719682216644, 152.2828021645546, 1);
			opacity:0.75;
			width:24.758472442626953px;
			height:24.758472442626953px;
			position:absolute;
			left:31.231002807617188px;
			top:6.40797233581543px;
		}
		.e8_482 { 
			width:105px;
			height:1px;
			position:absolute;
			left:127px;
			top:108.76085662841797px;
		}
		.e8_193 { 
			box-shadow:0px 4px 8px rgba(0, 0, 0, 0.05000000074505806);
			background-color:rgba(68.80931451916695, 55.96719682216644, 152.2828021645546, 1);
			width:311px;
			height:43px;
			position:absolute;
			left:24px;
			top:121.7608642578125px;
			border-top-left-radius:5px;
			border-top-right-radius:5px;
			border-bottom-left-radius:5px;
			border-bottom-right-radius:5px;
		}
		.e8_194 { 
			color:rgba(255, 255, 255, 1);
			width:109px;
			height:19px;
			position:absolute;
			left:101px;
			top:12px;
			font-family:Roboto;
			text-align:left;
			font-size:16px;
			letter-spacing:0;
		}
		.e8_195 { 
			color:rgba(204.00000303983688, 204.00000303983688, 204.00000303983688, 1);
			width:21px;
			height:19px;
			position:absolute;
			left:169px;
			top:176.7608642578125px;
			font-family:Roboto;
			text-align:left;
			font-size:16px;
			letter-spacing:0;
		}
		.e37_222 { 
			width:311px;
			height:179px;
			position:absolute;
			left:24px;
			top:207.7608642578125px;
			border-radius:5px;
			border: 2px solid #ebebeb;
		}
		.e37_223 { 
			color:rgba(204.00000303983688, 204.00000303983688, 204.00000303983688, 1);
			width:168px;
			height:19px;
			position:absolute;
			left:12px;
			top:12px;
			font-family:Roboto;
			text-align:left;
			font-size:16px;
			letter-spacing:0;
		}
		.e162_443 { 
			background-color:rgba(241.84270441532135, 240.92187702655792, 247.82811284065247, 1);
			width:311px;
			height:60px;
			position:absolute;
			left:24px;
			top:398.7608642578125px;
			border-top-left-radius:5px;
			border-top-right-radius:5px;
			border-bottom-left-radius:5px;
			border-bottom-right-radius:5px;
		}
		.e162_442 { 
			color:rgba(68.80931451916695, 55.96719682216644, 152.2828021645546, 1);
			width:287px;
			height:36px;
			position:absolute;
			left:12px;
			top:12px;
			font-family:Roboto;
			text-align:left;
			font-size:14px;
			letter-spacing:0;
			line-height:px;
		}
	}
}
