@import "../styles/fonts";
@import "../styles/reset";
@import "../styles/variables";

body {
  color: $black;
  background-color: $greyWhite;
}

.popup {
  min-width: 350px;
  max-width: 350px;
  padding: 0 0 1em 0;
  font-size: 1.5em;

  button {
    padding: 0.35em;
    border: 1px solid black;
    border-radius: 3px;
    background-color: #ccc;

    &:not(:first-child) {
      margin-left: 0.5em;
    }

    &:hover {
      background-color: #aaa;
      cursor: pointer;
    }
  }

  .pseudo-button {
    padding: 0.35em;

    &:not(:first-child) {
      margin-left: 0.5em;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .heading {
    background-color: rgb(10, 29, 125);
    color: white;
    padding: 0.5em;
    text-align: center;
    font-size: 2em;
  }

  .body {
    padding: 1em;
  }

  h2 {
    font-size: 25px;
    text-align: center;
  }
  
  .basic-form {
    td {
      height: 2.2em;
    }

    td:first-child {
      text-align: right;
      padding-right: 1em;
    }

    tr:not(:first-child) {
      td {
        padding-top: 0.5em;
      }
    }
  }
}
