@import "../styles/fonts";
@import "../styles/reset";
@import "../styles/variables";

body {
  color: $black;
  // background-color: $greyWhite;
}

#popup-root {
  min-width: 359px;
  height: 500px;
}

.popup {
  .large-quill-heading {
    display: flex;
    justify-content: center;
    padding-top: 41px;
    padding-bottom: 12px;
  }

  .button {
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.02), 0px 4px 6px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    border: 2px solid #ccc;
    display: flex;
    justify-content: center;
    padding: 0.5em;
    cursor: pointer;

    &.highlight {
      border: none;
      background-color: #453898;
      color: #fff;
    }

    &:hover {
      filter: brightness(90%);
    }
  }

  .heading {
    display: flex;
    justify-content: center;
    padding: 0.5em;
    text-align: center;
    font-size: 2em;
  }

  .body {
    padding: 1em;
  }

  h2 {
    font-size: 25px;
    text-align: center;
  }
  
  .basic-form {
    td {
      height: 2.2em;
    }

    td:first-child {
      text-align: right;
      padding-right: 1em;
    }

    tr:not(:first-child) {
      td {
        padding-top: 0.5em;
      }
    }
  }

  .nonce {
    font-size: 0.8em;
    color: rgb(40, 40, 40);
    margin-left: 1em;
  }
}
