@import "./fonts";
@import "./reset";
@import "./variables";

.quill {
  font-size: 14px;
  font-family: Montserrat, sans-serif;
  line-height: 24px;
  height: 100%;
  position: relative;

  h1 {
    font-size: 3em;
    line-height: 1.5em;
    text-align: center;
  }

  h3 {
    font-size: 1.5em;
    margin-bottom: 0;
  }

  .screen {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;

    .back-container {
      position: absolute;
      top: 16.5px;
      left: 24px;

      .button {
        padding: 6px 12px;
      }
    }
  }

  .large-quill-heading {
    display: flex;
    justify-content: center;
    padding-top: 36px;
    padding-bottom: 36px;
  }

  .compact-quill-heading {
    display: flex;
    justify-content: center;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .notification {
    position: absolute;
    bottom: 0;
    padding: 18px 24px;
    width: 100%;
    text-align: center;
    background-color: $primary-faded;
    color: $primary-base;
    display: none;
    opacity: 0;

    transition: opacity 200ms;

    &.present {
      display: block;
    }

    &.active {
      opacity: 1;
    }

    &.error {
      background-color: $alert-light;
      color: $alert-base;
    }
  }

  .overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #2D2B3988;

    flex-direction: column;
    justify-content: center;

    padding: 24px;

    .content {
      padding: 36px;
      background-color: white;
      border-radius: 5px;
    }

    &.present {
      display: flex;
    }

    display: none;
    pointer-events: none;

    opacity: 0;
    transition: opacity 200ms;

    &.active {
      opacity: 1;
      pointer-events: initial;
    }
  }

  .button {
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.02), 0px 4px 6px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    border: 1px solid $tone-grey-light;
    background-color: $tone-white;
    display: flex;
    justify-content: center;
    padding: 9px 18px;
    cursor: pointer;
    user-select: none;

    &:active {
      filter: brightness(97%);
    }

    &.highlight {
      border-color: transparent;
      background-color: $primary-base;
      color: white;

      &:active {
        filter: none;
        background-color: $primary-base-btn-active;
      }
    }

    &.loading {
      filter: grayscale(50%);
    }

    .icon-button-content {
      display: flex;
      flex-direction: row;
      gap: 4px;

      .icon-button-icon {
        width: 24px;
        height: 23px;
      }
    }
  }

  .section:not(:first-child) {
    border-top: 1px solid $tone-grey-lightest
  }

  .notice {
    font-size: 14px;
    line-height: 18px;
    padding: 12px;
    background-color: #F2F1F8;
    border-radius: 5px;
    color: $primary-base;
  }

  textarea {
    width: 100%;
    border: 2px solid $tone-grey-lightest;
    border-radius: 5px;
    padding: 12px;

    &::placeholder {
      color: $tone-grey-light;
    }

    caret-color: $primary-base;

    &:focus {
      border-color: $primary-light;
    }
  }

  input[type=text] {
    border: 2px solid $tone-grey-lightest;
    border-radius: 5px;
    padding: 2px;

    &::placeholder {
      color: $tone-grey-light;
    }

    caret-color: $primary-base;

    &:focus {
      border-color: $primary-light;
    }
  }

  .body {
    padding: 12px 24px 41px 24px;
  }

  .balance {
    display: flex;
    flex-direction: column;
    gap: 6px;

    > * {
      justify-content: center;
      text-align: center;
    }

    .label {
      color: $tone-grey-mid;
    }

    .value {
      font-size: 36px;
      color: $primary-dark;
      line-height: 42px;
      font-weight: bold;
    }
  }

  .delete-key-prompt {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .transactions-screen {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .tabs-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .tab-chooser {
      display: flex;
      flex-direction: row;
      background-color: $tone-white;

      > * {
        flex-grow: 1;
        flex-basis: 0;
        justify-content: center;
        text-align: center;

        padding: 8.5px;

        color: $tone-grey;
        border-bottom: 2px solid $tone-grey-lightest;

        cursor: pointer;
      }

      > .selected {
        background-color: $primary-faded;
        color: $primary-base;
        border-bottom: 2px solid $primary-base;

        &:not(:first-child) {
          border-top-left-radius: 5px;
        }

        &:not(:last-child) {
          border-top-right-radius: 5px;
        }
      }

      > .needs-right-border {
        border-right: 1px solid $tone-grey-lightest;
        border-top-right-radius: 5px;
      }
    }

    .selected-content {
      flex-grow: 1;
      overflow-y: auto;
      height: 0;
    }
  }

  .transaction-tab {
    padding: 12px 24px;
  }

  .welcome-carousel-container {
    height: 241px;
  }
}