name: Extension

on:
  push:
    paths:
      - 'extension/**'

defaults:
  run:
    working-directory: ./extension

env:
  NODEJS_VERSION: 16.x

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
        node-version: ${{ env.NODEJS_VERSION }}
        cache: yarn
        cache-dependency-path: extension/yarn.lock
    - run: yarn install --frozen-lockfile
    - run: yarn lint

  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
        node-version: ${{ env.NODEJS_VERSION }}
        cache: yarn
        cache-dependency-path: extension/yarn.lock
    # Valid network config not needed to test build.
    - working-directory: ./contracts/networks
      run: echo "{}" > "local.json"
    - run: cp .env.example .env
    - run: yarn install --frozen-lockfile
    # For now, just check that chrome builds
    - run: yarn build:chrome
